# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Artifacts
artifacts/
**/artifacts/

# Logs and binaries
*.log
*.bin
*.txt
.gdb_history


/tool/.gdb_history
/tool/test
/tool/test.c
/tool/example_usage.py
/tool/deploy/